# Default
*                   text=auto

# Source
*.java              text diff=java

# Configuration
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown